/* File: src/index.css */

@import "tailwindcss";


@theme {
  --color-primary: oklch(46.76% 0.131 206.47);
  --color-primary-light: oklch(55.5% 0.128 205.5);

  --color-secondary: oklch(66.53% 0.182 58.13);
  --color-secondary-light: oklch(73.5% 0.185 58);

  --color-background: oklch(97% 0.01 220);
  --color-surface: oklch(92.8% 0.006 264.531); /* for card or UI surface */
  --color-text: oklch(20% 0 0);
  --color-text-light: oklch(95% 0.01 220); /* for dark backgrounds */
}



html, body {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}
